body {
    background-color: #fff;
    color: #000;
}

input, label, p {
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }

    input {
        background-color: #555;
        border: 1px solid #888;
    }
}

#container > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#container label {
    width: 300px;
    margin-right: 10px;
}

#container input[type="number"] {
    flex-grow: 1;
}

#result-container {
    display: block;
}

#lock-input, #lock-label, #calc-button {
    cursor: pointer;
}
